@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

.FooterMainDiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 700px;
}

.FooterTitle {
  font-family: "Space Grotesk", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 100% */
  letter-spacing: -2.05px;
  margin: 0;
}

.FooterText {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-top: 30px;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.FooterBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AuthorFooter {
  font-family: "Space Grotesk", sans-serif;
  text-align: left;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 100% */
  letter-spacing: -0.44px;
}

.logoFooterDiv {
  display: flex;
  gap: 32px;
}

.FooterHR {
  margin-top: 10px;
}

.logoFooterDiv img:hover {
  opacity: 0.8;
}

.glow a {
  animation: glow-animation 3s ease-in-out infinite;
}

@keyframes glow-animation {
  0% {
    box-shadow: 0 0 10px rgba(0, 128, 255, 0.8), 0 0 20px rgba(0, 128, 255, 0.6); /* Blue glow */
  }
  25% {
    box-shadow: 0 0 20px rgba(255, 0, 128, 0.8), 0 0 40px rgba(255, 0, 128, 0.6); /* Pink glow */
  }
  50% {
    box-shadow: 0 0 30px rgba(128, 255, 0, 0.8), 0 0 60px rgba(128, 255, 0, 0.6); /* Green glow */
  }
  75% {
    box-shadow: 0 0 20px rgba(255, 128, 0, 0.8), 0 0 40px rgba(255, 128, 0, 0.6); /* Orange glow */
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 128, 255, 0.8), 0 0 20px rgba(0, 128, 255, 0.6); /* Blue glow */
  }
}

.logoFooterDiv a {
  display: inline-block;
  padding: 5px;
  border-radius: 50%;
  transition: box-shadow 1s ease-in-out;
}
