@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

.topPartProjets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 156px;
  margin-bottom: 30px;
}

.projets {
  font-family: "Space Grotesk", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 100% */
  letter-spacing: -2.05px;
}

.ProjetsButton {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  letter-spacing: 2.29px;
  text-transform: uppercase;
}

.ProjetsButton {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  letter-spacing: 2.29px;
  text-transform: uppercase;
  border-bottom: 2px solid #4ee1a0;
  border-top: 2px solid #141414;
  border-left: 2px solid #141414;
  border-right: 2px solid #141414;
  border-radius: 0;
  background-color: #141414;
  color: white;
  width: 218px;
  padding-bottom: 13px;
  cursor: pointer;
  transform: scale(1);
  transition: 500ms;
}

.ProjetsButton:hover {
  transform: scale(1.04);
  transition: 500ms;
}

.languagesUsed {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
  margin-bottom: 8px;
}

.cardsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 500px;
}

.cardImage {
  width: 495px;
  height: 331px;
}

.cardTitle {
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  text-transform: uppercase;
}

.cardTextDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lags {
  display: flex;
  gap: 18px;
}
