@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
.Header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.HeaderTextDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  z-index: 2;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px; /* 100% */
  letter-spacing: -2.5px;
  text-align: left;
  width: 1100px;
}

h2 {
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 100% */
  letter-spacing: -0.44px;
  margin-top: 30px;
}

p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  width: 463px;
}

.HeaderButton {
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  letter-spacing: 2.29px;
  text-transform: uppercase;
  border-bottom: 2px solid #4ee1a0;
  border-top: 2px solid #141414;
  border-left: 2px solid #141414;
  border-right: 2px solid #141414;
  border-radius: 0;
  background-color: #141414;
  color: white;
  margin-top: 100px;
  width: 218px;
  padding-bottom: 13px;
  cursor: pointer;
  transform: scale(1);
  transition: 500ms;
}

.HeaderButton:hover {
  transform: scale(1.04);
  transition: 500ms;
}

.headerHr {
  width: 100%;
  margin-top: 350px;
}

.EiffetImgDiv {
  display: flex;
  position: absolute;
  z-index: 1;
}

.eifelTower {
  width: 795px;
  height: 720px;
  object-fit: cover;
}
